<div class="row">
  <div class="col-md-12">
    <h1>Edytowanie Rodzaj Dostawy</h1>

    <%= render 'form', shipping: @shipping %>

    <%= link_to 'Podgląd', @shipping, class: 'btn btn-default' %> |
    <%= link_to 'Wstecz', shippings_path, class: 'btn btn-default' %>

  </div>
</div>