<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>Witaj <%= @user.email %></h1>
<p>
  Status twojego zamówienia nr.<%= @order_id %> został zmieniony na: <b><%= @stat %></b><br/>
</p>
<% if !@info.blank? %>
  <p><%= @info %></p>
<% end %>
</body>
</html>