<div class="row">
  <div class="col-md-12">
    <h1>Nowa Platforma</h1>

    <%= render 'form', platform: @platform %>

    <%= link_to 'Wstecz', platforms_path, class: 'btn btn-default' %>
  </div>
</div>
