<div class="row">
  <div class="col-md-12">
    <p>
    <strong>Nazwa:</strong>
    <%= @platform.platform %>
  </p>

    <%= link_to 'Edytuj', edit_platform_path(@platform), class: 'btn btn-default' %> |
    <%= link_to 'Wstecz', platforms_path, class: 'btn btn-default' %>
  </div>
</div>
