<div class="row">
  <div class="col-md-12">
    <p>
      <strong>Nazwa:</strong>
      <%= @amenity.name %>
    </p>

    <%= link_to 'Edytuj', edit_amenity_path(@amenity), class: 'btn btn-default' %> |
    <%= link_to 'Wstecz', amenities_path, class: 'btn btn-default' %>
  </div>
</div>