<div class="row">
  <div class="col-md-12">
    <h1>Edytowanie Zamówienia</h1>

    <%= render 'form', order: @order %>

    <%= link_to 'Podgląd', @order, class: 'btn btn-default' %> |
    <%= link_to 'Wstecz', orders_path, class: 'btn btn-default' %>
  </div>
</div>
