<div class="row">
  <div class="col-md-12">
    <p>
    <strong>Nazwa:</strong>
    <%= @category.name %>
  </p>

    <%= link_to 'Edytuj', edit_category_path(@category), class: 'btn btn-default' %> |
    <%= link_to 'Wstecz', categories_path, class: 'btn btn-default' %>
  </div>
</div>
