<div class="row">
  <div class="col-md-12">
    <h1>Edytowanie Produktu</h1>

    <%= render 'form', product: @product %>

    <%= link_to 'Podgląd', @product, class: 'btn btn-default' %> |
    <%= link_to 'Wstecz', products_path, class: 'btn btn-default' %>
  </div>
</div>
