<div class="row">
  <div class="col-md-12">
    <h1>Nowy produkt</h1>

    <%= render 'form', product: @product %>

    <%= link_to 'Wstecz', products_path, class: 'btn btn-default' %>
  </div>
</div>