<%= link_to carts_path do %>
    <%= fa_icon('shopping-cart') %>
    <span class="label label-as-badge
      <% if current_order.order_items.size == 0 %>
      label-default
      <% else %>
      label-success
      <% end %>
    ">
    <%= "#{current_order.order_items.size}" %></span> Koszyk

<% end %>